@font-face {
  font-family: "Hevetica Neue";
  src: url("../font/HelveticaNeue-Light.woff") format("truetype"); }

@font-face{font-family:Futura New;src:url("../font/FuturaNewBold.woff") format("woff");font-weight:700;font-style:normal}

*, *:before, *:after {
   box-sizing: border-box;
   -webkit-box-sizing: border-box; 
   -moz-box-sizing: border-box; 
   outline: none;
   transition: all 300ms ease-in-out;
}

.cf:after {
    clear: both;
    content: "";
    display: table;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  transform: translateY(50px);
}

/*.is-hidden-btn {
    visibility: hidden;
    opacity: 0;
    transform: translateY(50px);
}*/

.not-hidden {
  visibility: visible;
  opacity: 1;
  transform: translateY(1px);
}



html {
  font-size: 10px;
  overflow-y: scroll;
  background: #3c3c3c; 
}
body {
  margin: 0;
  background: #3c3c3c; 
  font-family: "Hevetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.35rem;
  font-weight: 300;
  color: #fff;
  font-weight: 300;
  letter-spacing: 2px;

}

.left {
  float: left;
  width: 50%; }

.right {
  float: right;
  width: 50%; 
  position: relative;
  z-index: 3;
}

.hidden {
  display: none;
}

#container {
  color: #D2DDE8;
  font-size: 1.5rem;
  flex-direction: column;
  justify-content: space-between;
}

a {
  color: #D2DDE8;
  text-decoration: none;
  padding: .5rem;
  transition: .6s background; 
}


/*CONFERENCE SITE*/

.bg {
  background: url(https://kaallyn.github.io/allyn-portfolio/quality-movers/images/shutterstock_119369974.jpg) no-repeat center center;
  /*background: url(../img/panel-recolor.jpg) no-repeat center center;*/
  /*background-position: 75% 35%;*/
  background-size: cover;
  position: fixed;
  width: 100%;
  height: 100%; 
  left: 0;
  z-index: 0;
  /*transform: translateY(-100px);*/
  transition: all 300ms ease-in-out;
}

.bg.animated {
  animation-delay: .2s;
  /*transform: translateY(0px);*/
  transition: all 300ms ease-in-out;

}


.hero {
  background-image: url(../img/panel-recolor.jpg);
  /*background-size: cover;*/
  overflow: hidden;
}

.hero-content {
  padding: 16% 6% 8%;
}
.logo-container {
  margin-top: 5rem;
  width: 100%
  max-width: 1290px;
}

.location {
  font-size: 2.9rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  letter-spacing: -.001rem;
  padding: 5px 10px 3px;
  background-color: rgba(51, 51, 51, .65);
  display: inline-block;
}

.conf-logo{
  width: 55%;
  display: block;
  opacity: 1;
  filter: drop-shadow(1px 1px 8px rgba(135,20,38,.35));

}

.hero .ctas {
  margin: 0;
}

.ctas {
    margin: 0 auto;
    position: relative;
}
.memberRegistration.check.is-hidden {
  visibility: hidden;
  opacity: 0;
}
.memberRegistration.check.not-hidden {
  visibility: visible;
  opacity: 1;
  -webkit-animation-name: pulse;
  animation-name: pulse;    
}

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
}

.btn {
    font-size: 1.3em;
    letter-spacing: 2px;
    padding: 5px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .2s;
    white-space: nowrap;
}

.btn-highlight {
    border-bottom: 1px solid #D2DDE8;
    color: #D2DDE8;
    font-size: 18px;
    display: inline-block;
}

.btn-highlight:hover {
    background-color: #fff;
    background-color: rgba(255,255,255,.2);
}
.btn:hover {
    text-decoration: none;
}


/*----------------*/
.ctas {
  margin: 0 auto;
  max-width: 800px;
  margin: 40px 0;
  position: relative;
}

.btn {
  font-size: 1.3em;
  letter-spacing: 2px;
  margin: 5px;
  padding: 17px 32px;
  text-decoration: none;
  text-transform: uppercase;
  transition: all .2s;
  white-space: nowrap; 
}

.btn:hover {
  text-decoration: none; 
}

.btn-highlight {
  background-color: rgba(255,255,255,.2);
  border: 1px solid #D2DDE8 ;
  color: #fff;
  font-size: 18px;
  display: inline-block;
  box-shadow: rgba(0, 0, 0, 0.1) 6px -1px 20px 0px;
}

.btn-highlight:hover {
  background-color: #fff;
  color: #333;
}

.sold-out-btn {
    cursor: default;
    padding: 11px 24px 8px;
    margin: 5px 0;
}

.btn-highlight:hover {
  background-color: rgba(210, 221, 232, .91);
    color: #3c3c3c;
}
/*------------*/

.nineteen {
  position: fixed;
  width: 300px;
  right:-20px;
  bottom: -30px;
  z-index: 2;
  opacity: .55;

}

/*----KEYNOTE-----*/

.keynote {
  background: #3c3c3c;
  padding: 3%;
  padding: 9.5rem 12% 0;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.keynote h1 {
  font-weight: 100;
  margin: 0 0 1rem;
  font-size: 3.5rem;
}

.keynote-info {
  max-width: 1000px;
  display: inline-block;
  letter-spacing: 1.3px;
  vertical-align: top;
  line-height: 2.5rem;
  margin: 10px 0;
}



/* FOOTER */


footer .logo img {
    max-width: 58px;
    margin-bottom: 10px;
    opacity: .68;
}
footer .logo {
    width: 100%;
    text-align: center;
}
footer small {
    bottom: 0;
    display: block;
    font-size: .9em;
    letter-spacing: .8px;
    margin: 0 auto;
    padding: 20px;
    padding-top: 10px;
    text-align: center;
    width: 100%;
}


footer {
  color: #D2DDE8;
  background-color: #3c3c3c;
  position: relative;
  bottom: 0;
  width: 100%;
  font-size: .9em;
  padding-top: 20px; 
}

footer .logo {
  width: 100%;
  text-align: center;
}
footer .logo img {
  max-width: 58px;
  margin-bottom: 10px; 
}
footer a {
  color: #D2DDE8;
  text-decoration: none; 
}
footer a:hover {
  color: white;
}
footer .columns {
  display: flex;
  padding: 0 4%; 
  position: relative;
  z-index: 3;
}
  footer .columns h4 {
    font-family: futura new;
    font-size: 1.52em;
    text-transform: uppercase; }
footer .col:nth-of-type(1) {
  flex-grow: 1;
  padding: 2% 2% 2% 4%;
  width: 300px;
  order: 1; }
footer .col:nth-of-type(2) {
  flex-grow: 1;
  padding: 2% 2% 0 2%;
  width: 300px;
  order: 3; }
footer .col:nth-of-type(3) {
  padding: 3% 2%;
  flex-grow: 3;
  order: 2; }
footer .logo-conference {
  width: 250px; }
footer .footer-nav {
  text-align: center; }
  
footer p:last-child {
  margin: 0; }

footer small {
    bottom: 0;
    display: block;
    font-size: .9em;
    letter-spacing: .8px;
    margin: 0 auto;
    padding: 20px;
    padding-top: 10px;
    text-align: center;
    width: 100%;
}




.main {
    padding: 40px 12%;
    position: relative;
}

.main h2 {
  font-family: futura New;
  font-size: 7rem;
  color: #E4264D;
  border-bottom: 8px solid;
  font-weight: 400;
  margin: 20px 0 0 -18%;
  max-width: 600px;
  padding: 10px 0 10px 18%;
  text-transform: uppercase;
  width: 100%;
}

#speakers {
  background-color: #3c3c3c;
  color: #D2DDE8; 
}

.modal-content p {
  color: #3c3c3c;
}


.note {
  font-size: .9em;
  margin-bottom: 2em;
  margin-top: 2rem;
}

.speakers-wrap {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  flex-flow: wrap; 
}

.name {
  font-size: 1em;
  margin: 6px 0; 
  color: #E4264D;
  font-weight: 800;
}

.title {
  color: #D2DDE8;
  font-size: .8em;
  margin: 6px 0; }

.speaker {
  flex-grow: 1;
  text-align: center;
  margin: 16px 20px;
  width: 220px; 
  position: relative;
    z-index: 8;
}

.speaker .headshot img {
  width: 220px; }
.speaker .info {
  background: #262626;
  margin: -5px auto 20px auto;
  padding: 1%;
  width: 220px;
  text-align: center; 

  }

.speaker:hover {
  cursor: pointer; 
}

.speaker.check.is-hidden {
  visibility: hidden;
  opacity: 0;
  offset: ;
  transform: translateY(10px); 
}
.speaker.check.not-hidden {
  visibility: visible;
  opacity: 1;    
  transform: translateY(0px);
  transition: all 600ms ease-in-out 
}

.feature {
  width: 100%;
  font-size: 1.8rem;
  display: flex;
  padding: 0;
  margin: 58px 20px; }
  .feature .headshot img {
    flex-grow: 2;
    width: 320px; }
  .feature .info {
    flex-grow: 1;
    padding: 0;
    margin: 80px 0; }
  .feature .name {
    padding: 1% 1% 0 1%; }
  .feature .title {
    padding: 0 1% 2% 1%; }
  .feature .highlight {
    background: #E4264D;
    padding: 10px;
    margin: 0;
    width: 100%;
    text-transform: uppercase;
    font-size: 1.4rem; 
    font-family: 'futura new', sans-serif;
  }

.modal {

    position: fixed;
    z-index: 17;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.4);
    transition: all 1s ease-in-out;
}

.modal.fadeIn {
  display: block;
  -webkit-animation: fadeIn 200ms;
  animation: fadeIn 200ms;
}

.modal.fadeOut {
  -webkit-animation: fadeOut 1s;
  animation: fadeOut 1s;
}


.modal-content {
  background-color: #fefefe;
  margin: 2% auto;
  color: #3c3c3c;
  padding: 20px 40px;
  width: 75%;
  /* Could be more or less, depending on screen size */
  transition: all .5s;
  max-width: 900px;
  letter-spacing: 1.1px;
  vertical-align: top;
  line-height: 1.9rem;
  font-size: 1.3rem;
  position: relative;
  z-index: 17;
}
.modal-content h1 {
  margin: 0 0 0 -40px;
  padding: 15px 15px 10px 40px;
  background: #E4264D;
  line-height: 1;
  color: #fff;
  max-width: 440px; 
  font-family: futura new, Helvetica, arial, sans-serif;
}
.modal-content h2 {
  color: #3c3c3c;
  line-height: 2.5rem;
  font-size: 1.65rem;
  margin: 1.5rem 0;
}
.modal-content h2.show {
    /*opacity: .5;*/
    margin-top: -1.5rem;
  }
.modal-content img {
  width: 150px;
  float: right;
  margin: .25rem 0 20px 20px; }
.modal-content .close-modal {
  text-align: right;
  font-size: 40px;
  font-weight: bold;
  margin: 0;
  padding: 10px 10px 10px 20px;
  width: 50px;
  float: right;
}
.modal-content .close-modal:hover {
  color: #E4264D;
  cursor: pointer; 
}
.modal-content .speaker-session {
  padding-top: 10px;
  border-top: 1px solid #dedede; 
}

.modal-content.price-info h2 {
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
  margin-top: 40px; }

.modal-content.memberRegistration-info {
  letter-spacing: 1px;
}

.modal-content.memberRegistration-info .ctas{
  text-align: center;
}


.modal-content.memberRegistration-info .btn-highlight {
  background: #E4264D;
  text-transform: none;
}

.modal-content.memberRegistration-info h2 {
  font-family: futura new;
  font-size: 2.2rem;
  letter-spacing: .0px;
  margin-top: 3rem;
}

.modal-content.memberRegistration-info .btn-highlight  span{
  background: #E4264D;
  text-transform: uppercase;
  font-weight: bold;
}



/* AGENDA --------------------------------------------------- */
#agenda {
  background: #D2DDE8;
  letter-spacing: 1px;
}

#agenda h2 {
  border-color: #E4264D; 
}

#agenda h3 {
  background: #E4264D;
  padding: 20px 5px;
  text-transform: uppercase;
  color: #D2DDE8;
  display: inline-block;
  padding: 10px 30px 10px 260px;
  margin: 40px -260px 0;
  font-size: 2.4rem;
  font-family: futura new;
}


#agenda h3.check.is-hidden {
  visibility: hidden;
  opacity: 0;
  transform: translateX(-70px); 
}
#agenda h3.check.not-hidden {
  visibility: visible;
  opacity: 1;    
  transform: translateX(0px);
  transition: all 600ms ease-in-out 
}

#agenda h3 span {
  display: block;
  font-size: 1.35rem;
  padding-top: 10px; 
  font-family: "Hevetica Neue", Helvetica, Arial, sans-serif;
}

#agenda a {
  color: #E4264D;
  font-weight: bold;
  padding: 0;
  border-bottom: 1px solid #E4264D;
  padding: 0 0 .125rem;
}

#agenda p {
  color: #3C3C3C;
  line-height: 2.2rem;
}
.event {
  border-top: 1px solid rgba(51, 51, 51, .12);
  padding: 1rem 0;
  width: 100%; }

.event h4 {
  color: #E4264D; 
  font-weight: 800;
  font-size: 1.97rem;

}
  .event h4 span {
    display: block;
    text-transform: uppercase;
    font-size: 1.3rem;
    color: #333;
    margin-bottom: 10px;
    border-bottom: 2px solid #D2DDE8;
    padding: 0 0 10px 0;
    max-width: 200px; }

.event .left {
  width: 20%;
  display: block;
  height: 100%; }

.event .left p {
  margin: 1.3em 0 0 5%; }

.event .right {
  width: 80%;
  padding-left: 5%; }

.event .sponsored {
  font-size: 1.25rem;
  font-style: italic;
  letter-spacing: 1.7px; 
}


/* SPONSORS ------------------------------------------- */
#sponsors {
  background-color: #fff;
  text-align: center; 
  padding-bottom: 5%;
}
#sponsors h2 {
  border-color: #E4264D; 
}
#sponsors .sponsor-logos {
  text-align: center;
  width: 100%;
  display: flexbox; 
}
#sponsors .sponsor-logos img {
  max-width: 250px;
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  margin: 30px;
  position: relative;
  z-index: 8;
  transition: all .2s; 
}
#sponsors .sponsor-logos img:hover {
  -webkit-filter: grayscale(0%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(0%); 
}

#sponsors img.check.is-hidden {
  visibility: hidden;
  opacity: 0;
  transform: translateX(0px); 
}
#sponsors img.check.not-hidden {
  visibility: visible;
  opacity: 1;    
  transform: translateX(0px);
  transition: all 600ms ease-in-out 
}

/* ATTEND ----------------------------------------------- */
#attend {
  background-color: #E4264D;
  color: #fff;
  /*background-image: url(../img/harbor-guerra-3.jpg);*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
  transition: 1s ease-in-out;
  position: relative;
  overflow: hidden;
}

#attend .main.cf {
  background: linear-gradient(121deg, rgba(228,38,77,1) 0%, rgba(9,9,121,0) 75%);
}

#attend video {
  position: absolute;
  height: 100%;
  width: 100%;
  mix-blend-mode: luminosity;
  filter: brightness(1.5);
  object-fit: cover;
  object-position: center;
  /*mix-blend-mode: darken;*/
  /*filter: brightness(1.25) contrast(1.125);*/
}

#attend h2 {
  border-color: #D2DDE8; 
  color:#D2DDE8; 
}

#attend h2.check.is-hidden {
  visibility: hidden;
  opacity: 0;
  transform: translateX(-50px); 
}
#attend h2.check.not-hidden {
  visibility: visible;
  opacity: 1;    
  transform: translateX(0px);
  transition: all 600ms ease-in-out 
}
.vip-attend {
  letter-spacing: 1px;
  max-width: 800px;
  font-size: 1.4rem;
  padding: 2.5rem 0;
}

.vip-attend a {
  color: #D2DDE8; 
  padding: 0 0 .5rem;
}
.vip-attend a:hover {
  color: #D2DDE8; 
  border-bottom: 1px solid
}

#attend h3 {
  font-size: 2em;
  font-weight: bold; 
}
#attend .tickets {
  font-size: 2.2em;
  width: 200px; 
}
#attend .tickets h4 {
  margin: 0;
  padding: 5px 10px 20px 0; 
}
#attend .tickets span {
  font-size: 1.2rem;
  display: block;
  font-weight: 400;
  letter-spacing: 1.2px; 
}
#attend .location {
  font-size: 1.6em;
  margin: 0; }
#attend address {
  margin: 0;
  padding: 0;
  font-style: normal; }
#attend .ctas {
  margin: 40px 0; }
#attend .btn-highlight {
  color: #fff;
}
#attend .btn-highlight:hover {
  color: #3c3c3c;
}

#attend h4 > a.pricing {
  text-decoration: none; 
  color: #fff;
  font-size: 4rem;
  letter-spacing: 2px;
  font-family: futura new;
}

.price-info  span {
  text-decoration: line-through;
}
.price-info  span.no-sale {
  font-weight: bold;
  color: #E4264D;
  text-decoration: none;
}









@media screen and (max-width: 1321px) {
  .event .left {
    width: 30%; 
  }
  .event .right {
    width: 70%; 
  } 
}

@media screen and (max-width: 1000px) {
  footer .columns {
    flex-wrap: wrap; }
  footer .col:first-child, footer .col:nth-child(2), footer .col:nth-child(3) {
    flex-grow: 1;
    border-bottom: 1px solid #6b6b6b;
    min-width: 100%;
    padding: 2% 2% 5% 2%; }
  footer .col:nth-of-type(1) {
    order: 2; }
  footer .col:nth-of-type(2) {
    order: 1; }
  footer .col:nth-of-type(3) {
    order: 3;
    margin-top: 20px; }
  }


@media screen and (max-width: 900px) {
.event .right, .event .left {
    clear: both;
    width: 100%;
  }
}
@media screen and (max-width: 900px) {
  .event .right, .event .left {
    clear: both;
    width: 100%; }
  .feature {
    font-size: 1.5rem; 
  }
    .feature .info {
      margin: 90px 0; } 
    }

@media screen and (max-width: 856px) {
  #attend {
    background-size: cover; } }

@media screen and (max-width: 785px) {
  .modal-content .close-modal {
    width: 100%;
    display: block; }
  .modal-content h1 {
    clear: right; }
  .feature {
    flex-direction: column; }
    .feature .info {
      width: 320px;
      margin: -10px auto 20px auto; }
}


@media screen and (max-width: 700px) {
  .feature {
    width: 400px;
    margin: 0 auto;
    font-size: 1.2rem; }
    .feature .highlight {
      font-size: 1rem; } }

@media screen and (max-width: 636px) {
  .speaker, .speaker .headshot img, .speaker .info {
    width: 260px; } }

@media screen and (max-width: 616px) {
  .modal-content.memberRegistration-info h2 {
    font-size: 2rem;
  }

  #sponsors .sponsor-logos img {
    margin: 10px; 
  }
  #agenda h3 {
    font-size: 1.4rem; 
  }
  #attend {
    background-image: none; 
  }
  #attend .location {
    font-size: 1.3em;
    margin: 0;
  }
  #attend .btn {
    margin: 40px 0;
    width: 100%;
    float: left;
    text-align: center; 
  }
  #attend .ctas {
    margin: 0; 
  }

  .modal-content {
    width: 90%;
    text-align: center;
    padding: 0; }
    .modal-content .close-modal {
      width: 100%;
      display: block;
      margin: -20px 20px -10px -10px;
      padding: 20px 0 20px 20px; }
    .modal-content h1 {
      clear: right;
      width: 100%;
      max-width: 100%;
      font-size: 1.8rem;
      margin: 0;
      padding: 10px 0; }
    .modal-content h2 {
      font-size: 1.6rem;
      padding: 0 20px; 
      line-height: 2.4rem;
    }
    .modal-content img {
      float: none;
      margin: 0; }
    .modal-content p {
      text-align: left;
      padding: 0 20px; }
  .modal-content.price-info h2, .modal-content.price-info h3 {
    text-align: left; 
  padding: 0 20px;}
  .modal-content.price-info p, .modal-content.price-info ul {
    text-align: left; }
  .modal-content.price-info .close-modal {
    text-align: right; } }



@media screen and (max-width: 800px) { 
  .conf-logo{
      width: 65%;
  }
  .nineteen {
    display: none;
  }
}



@media screen and (max-width: 460px) { 
  .conf-logo{
      width: 95%;
  }
  .location {
    font-size: 2rem;
    margin-bottom: 4rem;
  }
  
  
  .keynote {
    padding: 6rem 6% 0rem;
  }

  .keynote h1 {
    font-size: 2.5rem;
  }
  .main h2 {
    font-size: 5rem;
  }
  .feature .name {
    font-size: 1.5rem;
  }
  .feature .title {
    font-size: 1.2rem;
  }

}


@media screen and (max-width: 365px) {
  .speaker, .speaker .headshot img, .speaker .info {
    width: 220px; 
  }
  .modal-content p {
    font-size: 1.3rem; 
  } 
}

@media screen and (min-width: 1000px) {
  #heading {
    min-height: 375px;
  }
}